@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: rgba(240, 248, 255, 0.692);
}

.btn-primary{
    @apply w-full text-[14px] bg-blue-600 text-white py-2 rounded-sm font-semibold hover:bg-blue-700  transition-all
}

::-webkit-scrollbar{
  display: none;
}

/* Roboto – Local */
@font-face {
  font-family: 'Roboto';
  src: url('./Assests/fonts/Roboto-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('./Assests/fonts/Roboto-Medium.woff2') format('woff2');
  font-weight: 500;
}

@font-face {
  font-family: 'Roboto';
  src: url('./Assests/fonts/Roboto-Bold.woff2') format('woff2');
  font-weight: 700;
}



