@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: rgba(240, 248, 255, 0.692);
}

.btn-primary{
    @apply w-full text-[14px] bg-blue-600 text-white py-2 rounded-sm font-semibold hover:bg-blue-700  transition-all
}

::-webkit-scrollbar{
  display: none;
}




